<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <ng-container matColumnDef="see-more">
    <th mat-header-cell *matHeaderCellDef>See more</th>
    <td mat-cell *matCellDef="let element">
      <a
        mat-icon-button
        routerLink="/dashboard/courses/{{ element.title.toLowerCase() }}"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="See More"
          fontIcon="visibility"
        ></mat-icon>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab color="warn" (click)="deleteRow(element)">
        <mat-icon aria-label="Delete" fontIcon="delete"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
