.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, rgb(230, 173, 182), rgb(144, 216, 238));
}

mat-card {
  width: 400px;
  padding: 20px;
}

mat-card-title {
  font-size: 1.5rem;
  margin: 20px 0;
}

mat-form-field {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
