

<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="lastName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Curso</mat-label>
    <mat-select formControlName="curso">
      <mat-option value="HTML">HTML</mat-option>
      <mat-option value="JavaScript">JavaScript</mat-option>
      <mat-option value="Angular">Angular</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Clase</mat-label>
    <mat-select formControlName="clase">
      <mat-option *ngFor="let c of [1, 2, 3, 4, 5]" [value]="c">{{ c }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary" [disabled]="formGroup.invalid">
    Agregar Alumno
  </button>
  <div>
  <span *ngIf="formGroup.get('name')?.errors?.['required']">El nombre es requerido</span>
  <span *ngIf="formGroup.get('name')?.errors?.['minlength']">El nombre no puede tener menos de 4 caracteristicas</span>
</div>
  
  <!-- <div class="alert alert-danger">

     <span *ngIf="formGroup?.get('name')?.errors?.["required"]">El nombre no puede tener menos de 4 caracteristicas</span> -->
    <!-- <div *ngIf="name.errors.required">JAJA</div>
  </div> -->
</form>
